body {
  margin: 0px;
  overflow-x: hidden;
  /* color: #ffb600; */
}

body {
  margin: 0;
  background: #f2f3f4;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  padding: 1em;
  background-color: rgba(0, 206, 201, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
